.main-desc {
    display: flex;
    width: 100%;
  }
 
  .info {
    display: flex;
    align-items: center;
    font-size: small;
  }
  
  .info > p {
    color: rgba(0, 0, 0, 0.4);
    margin: 0 10px;
  }
  
  .info > p > span {
    color: rgba(0, 0, 0, 0.8);
    margin: 0 5px;
  }
  
  .arrow {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    
  }
  
  .all-options > .MuiSvgIcon-root {
    color: rgba(0, 0, 0, 0.25);
    font-size: large;
    margin: 5px 0;
  }
  .comments{
    margin:10px 0;
    width : 90%;
    margin-left: auto;
  }
 .comment{
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  padding : 10px 0;
  border-bottom : 1px solid #eee;
 }
 .comment > p{
  margin: 10px 0;

 }
 .comment > p >span{
  padding: 3px;
  background-color: #0151f028;
  color:#0151f0d8;
  border-radius: 2px  ;
 }
 .comments > p{
  margin-left : -35px;
  margin-top: 20px;
  font-size: small;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
 }
 .comment > p :hover{
  color: #0151f0;
 }
  /* .ql-syntax {
    display: flex;
    width: 90%;
    overflow: hidden;
  } */
  pre {
    display: flex;
    width: 90px;
    flex-wrap: wrap;
  }
  
  textarea{
    margin:"5px 0px";
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    border-radius: 3px;
  }
  button{
    max-width: fit-content;
     
  }

  .all-questions{
    flex-direction: column;
    

  }
.no-fo-answer{
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 300;
}
.h3-tital{
  font-size: 22px;  
  margin: 10px 0px;
  font-weight: 400;
}
.last-button{
    margin-top: 80px;
}

